div {
    background-color: rgb(250, 255, 183);
    padding: 21vh 10.5%;
    width: 10%;
    margin: 1%;
    text-align: center;
    float: left;
    font-size: large;
}
.pause {
    background-color: rgb(255, 199, 199);
}
.play {
    background-color: rgb(178, 178, 178);
}
.s3 {
    padding: 10vh 10.5%;
}