body {
    background: linear-gradient(#c5dff5, #7cc3ff);
    height: 100vh;
    overflow: hidden;
    color: #000000;

    /*edited by kizaki*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background: auto !important;
    align-items: center;
}

a {
    text-decoration: none;
    /* 下線を消す */
    color: inherit;
}

main {
    height: 77%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 2vh;
    overflow: auto;

    /*edited by kizaki*/
    width: 100%;
    max-width: 600px;
    display: flex;
    height: fit-content !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 18px;
}

p {
    margin: 0;
}

footer {
    height: 10vmax;
    width: 95%;
    margin: 1vh auto 0;

    /*edited by kizaki*/
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
}

footer>div {
    margin: 1%;
    float: left;
    height: 100%;
    width: 31%;
    background-color: #ddeeff;
    padding-top: 3vh;
    padding-bottom: 1vh;
    border-radius: 30px;
    text-align: center;
    font-size: 5vw;

    /*edited by kizaki*/
    width: 100%;
    height: auto;
    font-size: 1rem !important;
    padding: 0;
    background: none;
    margin: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    user-select: none;
}

svg {
    width: 4vh;
    fill: #373737;

    /*edited by kizaki*/
    width: 50px;
}

.table>div>div,
.table>div>div>div>div {
    background-color: #8ed6ff;
    border: 1px solid #007eff;
}

#setdata,
#settask,
#modtask,
#deltask {
    padding: 8px 16px;
    background-color: #005fbd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin-top: 10px;
    text-align: center;
}

#deltask {
    background-color: rgb(255, 72, 72);
}


@media screen and (orientation: landscape) {
    main {
        height: 70%;
    }

    footer>div {
        font-size: 5vb;
    }
}
