body{
    background-color: #2f3d58;
    height: 100vh;
}
main{
    background-color: #495e88;
    height: 77%;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 3vh;
    padding: 2%;
}
p{
    margin: 0;
    color: #cdcdcd;
}


footer{
    height: 10vmax;
    width: 95%;
    margin: 1vh auto 0;
}
footer > div {
    margin: 1%;
    float: left;

    height: 100%;
    width: 48%;

    background-color: #354564;
    padding-top: 3vh;
    padding-bottom: 1vh;

    border-radius: 30px;

    text-align: center;
    font-size: 5vw;
}
footer > div > img {
    width: 5vh;
}