.table {
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    width: 100%;
    padding-top: 2vh;
    }
    
    .table>div {
    display: table-row;
    background-color: #2f3d58; /* ダークグレー */
    }
    
    .table>div>div:nth-child(odd) {
    display: table-cell;
    width: 20vw;
    height: 9vh;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #495e88; /* 暗めの青 /
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4); / 影の強度を強める */
    }
    
    .table>div>div:nth-child(even) {
    display: table-cell;
    width: 20vw;
    height: 9vh;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #354564; /* 暗めの青 /
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4); / 影の強度を強める */
    }
    
    span {
    line-height: 1em;
    color: #cdcdcd; /* グレー */
    }
    
    @media (max-width: 767px) {
    .table>div>div {
    font-size: 0.8em;
    }
    }