main {
    overflow: auto;
}

.table {
    /*上書き*/
    border-spacing: 10px;
    border: 0;

    /*Edited by kizaki*/
    table-layout: fixed;
    border-spacing: 9px;
}

.table>div>div {
    width: 20vw;
    height: 8vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 0;

    /*Edited by kizaki*/
    width: auto;
}

/*Edited by kizaki*/
.table>div:first-child>div {
    height: 30px;
    min-height: 30px;
    background: none !important;
    font-size: 1.3rem;
}

.table>div>div:first-child {
    width: 30px;
    min-width: 30px;
    background: none !important;
    font-size: 1.3rem;
}

.table>div>div:nth-child(odd) {
    background-color: #93b7ff;
}

.table>div>div:nth-child(even) {
    background-color: #8ed6ff;
}

span {
    line-height: 1em;
}

@media (max-width: 767px) {
    .table>div>div {
        font-size: 0.8em;

        /*Edited by kizaki*/
        font-size: 1rem;
    }
}

select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
